<h1 class="title">Register</h1>

<div class="auth-container">
  <form method="post" action="/api/sessions/register" class="form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />

    <label for="name">Name</label>
    <input type="text" name="name" id="name" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <button type="submit" class="button">Register</button>
  </form>
  <span style="margin-top: 16px;"><a
      href="/login"
      target="_self"
    >Login</a></span>
</div>

{{#if registerFailed}}
  <script type="text/javascript">
    alert('Register Failed!');
  </script>
{{/if}}