<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder e-commerce</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="header">
        <navbar class="navbar">
            <a href="/">Home</a>
            <a href="/realtimeproducts">Products (Socket)</a>
            <a href="/chat">Chat</a>
        </navbar>
    </header>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>